// -------------- Font Colours -------------- //
$font-colour-navy-light: #6a9ab4;
$font-colour-navy-dark: #26495c;
$font-colour-ochre-light: #f29e73;
$ochre-light-opacity: hsla(20, 83%, 70%, 0.89);
$font-colour-ochre-dark: #c66b3d;
$font-colour-gold-light: #f1dcad;
$font-colour-gold-dark: #c4a35adb;
$font-colour-grey-light: #f6f6f4;
$font-colour-grey-dark: #e5e5dc;
$colour-background-cream: #fffcf4;
$colour-background-pale: #e3eaeb;
$colour-background-sidebar: #316879;
$colour-background-overlay: #062d42;

// -------------- Font sizes -------------- //

$font-very-small: 0.6rem;
$font-small: 1rem;
$font-small-med: 1.25rem; //10px
$font-med: 2rem; //36px
$font-med-large: 2.4rem; //43px
$font-large: 3.7rem; //64px
$font-button: 1.11rem;
$font-button-phone: 0.7rem;
